<div class="col-lg-10">
  <h3>{{pageTitle}}</h3>
  <hr>

  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th>Titulo</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let topic of topics">
        <td>{{topic.title}}</td>
        <td>{{topic.date | amLocale:'es' | amDateFormat:'LL'}}</td>
        <td>
          <a [routerLink]="['/panel/editar', topic._id]" class="btn btn-sm btn-warning mr-2 ">Editar</a>
          <button type="button" class="btn btn-sm btn-danger mt-lg-2" data-toggle="modal" [attr.data-target]="'#modal' +topic._id">
            Borrar
          </button>

          <!-- Modal -->
          <div class="modal fade" id="{{ 'modal' +topic._id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">¿Estas seguro de querer borrar este tema?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Vas a borrar el tema "{{topic.title}}" para siempre...
                </div>
                <div class="modal-footer">
                  <a (click)="deleteTopic(topic._id)" class="btn btn-danger" data-dismiss="modal">Borrar</a>
                  <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
                </div>
              </div>
            </div>
          </div>


        </td>
      </tr>
    </tbody>

  </table>

</div>
